<div class="container">
    <div class="header">
        <h1 class="text-center">
            Prueba de postulacion para Front-end
        </h1>
        <h4>
            {{candidate}}
        </h4>
    </div>
    <div class="row m-5">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ordenar Array</h5>
                    <button class="btn btn-primary" (click)="selecteTask(1,'array')"> Ver </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contar posiciones</h5>
                    <button class="btn btn-primary" (click)="selecteTask(2,'dict')"> Ver </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selected === 1 && loadSuccess">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">First position</th>
                    <th scope="col">Last position</th>
                </tr>
            </thead>
            <tbody>
                <tr [appBgColor]="repeatedValues[item]"  *ngFor="let item of singleArray; let i=index" (click)="clickedRow(i)">
                    <td>{{ i }} </td>
                    <td>{{ item }} </td>
                    <td>{{ repeatedValues[item] }} </td>
                    <td>{{ originalArray.indexOf(item) }} </td>
                    <td>{{ originalArray.lastIndexOf(item) }} </td>
                </tr>
            </tbody>
        </table>
        <td><input type="text" [(ngModel)]="dataFromInput"></td>
    </div>
    <div *ngIf="selected === 2 && loadSuccess">
        <table class="table">
            <thead>
                <th scope="col">Nº</th>
                <ng-container *ngFor="let item of generateAlphabet()">
                    <th scope="col">{{item}}</th>
                </ng-container>
                <th scope="col">Suma</th>
            </thead>
            <tbody>
                <tr  *ngFor="let item of originalParagraph; let i=index" (click)="clickedRow(i)">
                    <td>{{ i }} </td>
                    <ng-container *ngFor="let item of setTemplate(item)">
                        <th scope="col">{{item}}</th>
                    </ng-container>
                    <td>{{ setTotal(item) }} </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>  
<ngx-spinner></ngx-spinner>